.extra-info-container {
  width: 100%;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #fff7f2;
  padding: 0 40px;
  box-sizing: border-box;
}

.extra-info-header-container {
  height: 70px;
  width: 700px;
  background-color: #ed99ab;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.extra-info-header-container h1 {
  font-size: 40px;
}

.bullet-container {
  background-color: #f1e3da;
  max-width: 800px;
}

.unordered-list {
  padding: 20px 40px;
}

.extra-info-images-container {
  display: flex;
  /* grid-template-columns: 144px 230px; */
}

.extra-info-images {
  height: 220px;
  width: 220px;
  border: 8px solid #fff;
}


#extra-top-img {
  rotate: -10deg;
  z-index: 10;
  position: relative;
  top: 46px;
}

#extra-bottom-img {
  rotate: 3deg;
  position: relative;
  right: 30px;
  bottom: 30px;
}

.list-and-images-container {
  display: flex;
  margin-bottom: 50px;
  align-items: center;
}